header{
    display: grid;
    grid-template-columns : repeat(2, 1fr) ;
    gap: 5px;
    text-align: center;
}
.logo{
    width: 150px;
    background-color: transparent;
    border: none;
}
.instruccion{
    grid-column: span 2;
    text-align: left;
    background-color: transparent;
    border: none;
    color: blue;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: solid 3px blue;
}
header>*{
    background-color: rgb(26, 0, 173);
    border: 5px solid rgb(26, 0, 173);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-size: 1rem;

}

main{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap:  1rem;
}
main>*{
    background-color: rgb(130, 176, 255);
    border: 5px solid rgb(130, 176, 255);
    border-radius: 15px;
}